<div class="container">

	<h1>Submitted Information</h1>
<p><% flash.each do |key, value|  %>
<div class="alert alert-<%= key %>" role="alert">
	<p><%= value %> </p>
</p>
<% end %>
<body>
	<h2>Name: <%= @name %></h2>
	<h2>Location: <%= @location %></h2>
	<h2>Language: <%= @language %></h2>
	<h2>Comment: <%= @comment %></h2>



</div>
</body>