<h1>User's Profile</h1>
<div class="container">  
    <table class="table">
		<thead>
			<tr>
		    	<th scope="col">Name</th>
		    	<th scope="col">Screen Name</th>
		    	<th scope="col">Email</th>
		    	<th scope="col"># of Posts</th>
		    	<th scope="col"># of Likes</th>
		    </tr>
		</thead>
		<tbody>
		    <tr>
		    	<td><%= @user.name %></td>
		    	<td><%= @user.screen_name %></td>
		    	<td><%= @user.email %></td>
		    	<td><%= @user.comments.count %></td>
		    	<td><%= @user.likes.distinct.count %></td>
		    </tr>
		</tbody>
	</table>
	<a href="/comments">Dashboard</a>
</div>
