<h1>Editing <%= @students.first_name %></h1>
<div class="container">
<form action="/dojos/<%= @dojo.id %>/students/<%= @students.id %>" method = "post">
	<input type="hidden" name="_method" value="patch">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="text" name="student[first_name]" value="<%= @students.first_name %>">
	<input type="text" name="student[last_name]" value="<%= @students.last_name %>">
	<input type="text" name="student[email]" value="<%= @students.email %>">

<div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="dojo_id">Dojo</label>
	      <select class="custom-select mr-sm-2" name="student[dojo_id]">
    	      <% @dojos.each do |d| %>
          <option value="<%= d.id %>"><%= d.branch %></option>
        	  <% end %>
      </select>
    </div>
</div>

<button type="submit" value="Update">Update</button>
</div>
</form>
<a href="/dojos">Home</a>|
<a href="#">Show</a>