<h1>Add Student</h1>
<p><% flash.each do |key, value|  %>
<div class="alert alert-<%= key %>" role="alert">
  <p><%= value %> </p>
</p>
</div>
<% end %>

<div class="container">
		<form action="/dojos/students/" method="post">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<div class="form-group">
    	<label>Branch</label>
        <select class="custom-select mr-sm-2" name="student[dojo_id]">
            <% @dojos.each do |d| %>
          <option value="<%= d.id %>"><%= d.branch %></option>
            <% end %>
      </select>

  	<div class="form-group">
    	<label for="street">First Name</label>
      		<input type="text" name="student[first_name]" class="form-control" placeholder="First name">
    </div>
  	<div class="form-group">
    	<label for="city">Last Name</label>
      		<input type="text" name="student[last_name]" class="form-control" placeholder="Last name">
    </div>
  	<div class="form-group">
    	<label for="state">Email</label>
      		<input type="text" name="student[email]" class="form-control" placeholder="Email">
    </div>

<button type="submit" value="create">Create</button>
</div>
</form>
<a href="/dojos">Go back</a>
